.flex {
  display: flex;
}

.container {
  letter-spacing: 0px;
  color: #677294;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 6%);
}

.navBar-container {
  background-color: white;
  justify-content: center;
  align-items: center;
}

.navBar-wrap {
  height: 100%;
  width: 1200px;
  padding: 0px 15px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  margin-right: 16px;
  padding: 5px 0px;
  align-items: center;
}

.navigator-warp {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigator-warp > li {
  color: #051441;
  font: 500 15px "Poppins", sans-serif;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 45px;
}

.navigator-warp > li:first-child {
  margin-left: 0px;
}

.navigator-warp > li:last-child {
  margin-right: -1px;
}

.navigator-warp > li > a {
  position: relative;
  border-bottom: 0px solid #051441;
  cursor: pointer;
}

.navigator-warp > li > a::before {
  content: "";
  background-color: #051441;
  position: absolute;
  width: 0%;
  height: 1%;
  bottom: -2px;
  transition: 0.3s ease;
}

.navigator-warp > li > a:hover::before {
  width: 100%;
  transition: 0.3s ease;
}

.register-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-btn {
  color: #051441;
  font: 500 15px "Poppins", sans-serif;
  padding: 13px 32px;
  cursor: pointer;
}

.register-login {
  border: 1px solid transparent;
  padding: 13px 40px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  transition: 0.3s;
}

.register-login:hover {
  color: #00aff0;
  border: 1px solid #00aff0;
  transition: 0.3s;
}

.register-SignUp {
  color: #00aff0;
  border: 1px solid #00aff0;
  margin-left: 3px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  transition: 0.3s;
}

.hambugar-container {
  display: none;
}

.register-SignUp:hover {
  background-color: #00aff0;
  color: white;
  transition: 0.3s;
}

.introduction {
  background: linear-gradient(40deg, #1786d8 0%, #00aff0 100%);
}

.introduction-container {
  background: linear-gradient(40deg, #1786d8 0%, #00aff0 100%);
  padding-bottom: 160px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.introduction-warp {
  width: 1200px;
  height: 100%;
  flex-direction: row;
}

.introduction-txt-container {
  padding: 0px 15px;
  margin-top: 0px;
  flex: 7;
}

.introduction-txt-warp {
  position: relative;
  padding-top: 290.6px;
}

.introduction-txt-warp > button:hover {
  background-color: #00aff0;
  color: white;
  transition: 0.5s;
}

.introduction-txt-warp > h2 {
  font: 700 40px "Poppins", sans-serif;
  line-height: 60px;
  color: #fff;
  margin-bottom: 8px;
}

.introduction-txt-warp > p {
  font: 400 16px "Poppins", sans-serif;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 16px;
  line-height: 28px;
}

.introduction-txt-warp > button {
  background-color: #fff;
  color: #00aff0;
  text-decoration: none;
  font: 500 14px/20px "Poppins", sans-serif;
  outline: none;
  border: 0px;
  border-radius: 45px;
  padding: 15px 35px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.introduction-img-shape-2 {
  position: absolute;
  left: 87px;
  top: 200px;
  z-index: 1;
}

.introduction-img-container {
  position: relative;
  flex: 5;
}

.introduction-img-phone {
  position: absolute;
  left: 2.5px;
  z-index: 2;
}

.introduction-img-women {
  position: absolute;
  left: 135px;
  animation-name: womenFloating;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 3;
}

.introduction-footer > img {
  width: 100%;
  transform: translate(0px, 3px);
}

.introduction-img-shape-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.introduction-img-shape-3 {
  position: absolute;
  right: 0;
  bottom: -87px;
}

.feature-container {
  background-color: #fbfbfd;
  flex-direction: row;
  justify-content: center;
  padding: 120px 0px 130px;
  box-sizing: border-box;
}

.feature-warp {
  position: relative;
  width: 1200px;
  flex-direction: row;
}

.feature-img-container {
  position: relative;
  flex: 7;
  padding: 0px 15px;
}

.feature-img-warp {
  position: absolute;
  top: -1px;
  left: -35px;
  height: 100%;
  width: 100%;
}

.feature-imgs {
  width: 100%;
  height: 100%;
  position: relative;
}

.feature-imgs > img {
  position: absolute;
}

.feature-imgs > img:nth-child(1) {
  left: 85px;
  top: 80px;
}

.feature-imgs > img:nth-child(3) {
  left: 85px;
  top: 127px;
}

.feature-txt-container {
  transform: translate(5px, -15px);
  flex: 5;
  padding: 0px 15px;
}

.feature-txt-icon-container {
  transform: translate(-24px, -16px);
}

.feature-txt-icon-container > div {
  display: inline-block;
  position: relative;
}

.feature-txt-icon-container > div > i {
  color: white;
  font-size: 22.5px;
  position: absolute;
  top: 26%;
  left: 40%;
}

.feature-txt-container > h2 {
  color: #3f4451;
  font: 600 34px "Poppins", sans-serif;
  line-height: 44px;
  padding-right: 50px;
  margin: 10px 0px 0px;
  transform: translate(0px, -30px);
}

.feature-txt-container > p {
  color: #677294;
  font: 400 20px "Poppins", sans-serif;
  line-height: 30px;
  margin-bottom: 0px;
  padding-right: 50px;
}

.feature-container-2 {
  background-color: #fbfbfd;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 110px;
}

.feature-warp-2 {
  position: relative;
  width: 1200px;
  flex-direction: row;
  padding-top: 10px;
}

.feature-img-container-2 {
  position: relative;
  flex: 5;
  padding: 0px 15px;
  margin-left: 200px;
}

.feature-txt-icon-container-2 {
  transform: translate(-25px, -15px);
}

.feature-txt-icon-container-2 > div {
  display: inline-block;
  position: relative;
}

.feature-txt-icon-container-2 > div > i {
  color: white;
  font-size: 22.5px;
  position: absolute;
  top: 27.5%;
  left: 38.375%;
}

.feature-img-warp-2 {
  position: relative;
  height: 100%;
  width: 100%;
}

.feature-imgs-2 > img {
  position: absolute;
}

.feature-imgs-2 > img:nth-child(1) {
  width: 100%;
  top: -10px;
}

.feature-imgs-2 > img:nth-child(2) {
  top: -35px;
  left: 165px;
}

.feature-imgs-2 > img:nth-child(3) {
  top: 200px;
  left: 355px;
}

.feature-imgs-2 > img:nth-child(4) {
  top: 80px;
  left: 90px;
}

.feature-txt-container-2 {
  transform: translate(5px, -15px);
  flex: 5;
  padding: 0px 15px 0px 10px;
}

.feature-txt-container-2 > h2 {
  color: #3f4451;
  font: 600 34px "Poppins", sans-serif;
  line-height: 44px;
  padding-right: 50px;
  margin: 8px 0px 0px;
  transform: translate(0px, -30px);
}

.feature-txt-container-2 > p {
  color: #677294;
  font: 400 20px "Poppins", sans-serif;
  line-height: 30px;
  margin-bottom: 0px;
  padding-right: 50px;
}

@keyframes womenFloating {
  0% {
    top: 228px;
  }
  50% {
    top: 243px;
  }
  100% {
    top: 228px;
  }
}

.feature-txt-container > p {
  color: #677294;
  font: 400 20px "Poppins", sans-serif;
  line-height: 30px;
  margin-bottom: 0px;
  padding-right: 50px;
}

.service-container {
  padding: 120px 0px;
  background-color: #f4f6fa;
  height: 600px;
  flex-direction: row;
  justify-content: center;
}

.service-warp {
  width: 1200px;
  flex-direction: column;
  align-content: center;
}

.service-warp > h2 {
  color: #3f4451;
  font: 700 30px "Poppins", sans-serif;
  text-align: center;
  line-height: 50px;
  margin-bottom: 8px;
}

.service-warp > p {
  color: #677294;
  font: 400 16px "Poppins", sans-serif;
  text-align: center;
  line-height: 30px;
  margin-bottom: 16px;
}

.service-cards-area {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: -30px;
}

.service-cards-container {
  position: relative;
  padding: 0px 15px;
  margin-bottom: 30px;
  max-width: 270px;
  cursor: pointer;
}

.service-cards {
  background-color: white;
  height: 362px;
  border: 2px solid white;
  overflow: hidden;
  box-shadow: 0px 30px 40px 0px rgb(3 115 156 / 10%);
  transition: 0.25s;
  padding: 47px 15px 0px;
}

.service-cards:hover {
  border: 2px solid #00aff055;
  transition: 0.25s;
}

.service-cards > h4 {
  margin-bottom: 20px;
  color: #3f4451;
  font: 600 20px "Poppins", sans-serif;
  line-height: 28px;
}

.service-cards-1 > img {
  transform: translate(10px, 0px);
}

.service-cards-2 > img {
  transform: translate(60px, 0px);
}

.service-cards-3 > img {
  transform: translate(80px, 0px);
}

.service-cards-4 > img {
  transform: translate(55px, 0px);
}

.service-cards > p {
  color: #677294;
  font: 400 16px "Poppins", sans-serif;
  line-height: 28px;
  margin-bottom: 16px;
}

.service-cards > div {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 30;
  background-image: linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  box-shadow: 0px 14px 30px 0px rgb(94 44 237 / 40%);
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  transform: translate(-15px, -17.5px);
}

.service-cards-2 > div {
  background-image: linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  box-shadow: 0px 14px 30px 0px rgb(224 56 39 / 40%);
}

.service-cards-3 > div {
  background-image: linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  box-shadow: 0px 14px 30px 0px rgb(44 130 237 / 40%);
}

.service-cards-4 > div {
  background-image: linear-gradient(40deg, #e09520 0%, #fae926 100%);
  box-shadow: 0px 14px 30px 0px rgb(224 149 32 / 40%);
}

.price-container {
  padding: 120px 0px;
  background-color: #fbfbfd;
  flex-direction: row;
  justify-content: center;
}

.price-warp {
  width: 1200px;
  flex-direction: column;
  align-content: center;
}

.price-warp > h2 {
  text-align: center;
  color: #3f4451;
  font: 700 30px "Poppins", sans-serif;
  line-height: 50px;
  margin-bottom: 8px;
}

.price-warp > p {
  text-align: center;
  font: 400 16px "Poppins", sans-serif;
  line-height: 30px;
  color: #677294;
}

.price-options-container {
  justify-content: center;
}

.price-options-warp {
  background-color: white;
  flex-direction: row;
  padding: 7px;
  border-radius: 45px;
  box-shadow: 0px 3px 13px 0px rgb(0 11 40 / 8%);
  margin: 70px 0px 60px;
  cursor: pointer;
}

.price-options-warp a {
  padding: 12px 40px;
  font: 400 16px "Poppins", sans-serif;
}

.price-options-warp a:first-child {
  background-color: #00aff0;
  border-radius: 45px;
  padding: 12px 40px;
  color: white;
}

.price-cards-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -30px;
}

.price-cards-container {
  position: relative;
  padding: 0px 15px;
  margin-bottom: 30px;
  flex: 1;
  max-width: 400px;
  cursor: pointer;
}

.price-cards {
  background-color: white;
  position: relative;
  padding: 50px 50px 40px;
  overflow: hidden;
  box-shadow: 0px 4px 6px 0px rgb(0 11 40 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  transition: 0.25s;
}

.price-cards:hover {
  box-shadow: 0px 30px 60px 0px rgb(0 11 40 / 14%);
  border: 1px solid #00aff055;
  transition: 0.25s;
}

.price-cards > h4 {
  margin: 24px 0px 8px;
  color: #3f4451;
  font: 600 20px "Poppins", sans-serif;
  line-height: 28px;
}

.price-cards > span {
  display: flex;
  width: 100%;
  padding: 33px 0px 30px;
  border-bottom: 1px solid #e9e9f4;
  display: flex;
  justify-content: center;
}

.price-cards > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.price-cards > ul > li {
  display: flex;
  padding-bottom: 15px;
  font: 300 16px "Poppins", sans-serif;
  color: #505975;
}

.price-cards > ul > li:last-child {
  padding-bottom: 0px;
}

.price-cards > span > h5 {
  color: #3f4451;
  font: 700 40px "Poppins", sans-serif;
  line-height: 40px;
}

.price-cards > span > sub {
  display: flex;
  align-items: flex-end;
  font: 400 16px "Poppins", sans-serif;
  color: #677294;
}

.price-cards > a {
  font: 500 15px "Poppins", sans-serif;
  padding: 13px 36px;
  border-radius: 45px;
  border: 1px solid #00aff0;
  color: #00aff0;
  cursor: pointer;
  transition: 0.25s;
}

.price-cards > a:hover {
  color: white;
  background-color: #00aff0;
  transition: 0.25s;
}

.price-cards > p {
  font: 400 16px "Poppins", sans-serif;
  line-height: 28px;
  color: #677294;
}

.price-cards-2 {
  position: relative;
}

.price-cards-2 > div {
  background-color: #00aff0;
  color: white;
  font: 400 14px "Poppins", sans-serif;
  position: absolute;
  width: 120px;
  height: 120px;
  top: -60px;
  left: -60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: rotate(-45deg);
  padding-bottom: 10px;
  box-sizing: border-box;
}

.price-icon {
  margin-right: 10px;
}

.price-icon-check {
  color: #00aff0;
}

.price-icon-denied {
  color: #f0002d;
}

.action-container {
  background: linear-gradient(40deg, #00aff0 0%, #1786d8 100%);
  height: 900px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.action-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("./Saasland_files/action_bg.png") no-repeat scroll center 0;
}

.action-container > img:nth-child(2) {
  top: 19px;
  left: -720px;
  position: absolute;
}

.action-container > img:nth-child(3) {
  top: 0%;
  left: 0%;
  position: absolute;
}

.action-warp {
  width: 1200px;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

.action-message {
  margin: 0px 300px;
  flex-direction: column;
  align-items: center;
}

.action-message > h2 {
  color: #fff;
  font: 700 40px "Poppins", sans-serif;
  margin-bottom: 15px;
  line-height: 50px;
  text-align: center;
}

.action-message > p {
  color: #fff;
  font: 300 16px "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 16px;
}

.action-message > button {
  background-color: white;
  color: #00aff0;
  font: 500 14px "Poppins", sans-serif;
  border: none;
  border-radius: 100px;
  min-width: 180px;
  line-height: 55px;
  border-radius: 45px;
  box-shadow: 0px 20px 40px 0px rgb(0 11 40 / 20%);
  margin-top: 40px;
  cursor: pointer;
  z-index: 100;
  transition: 0.5s;
}

.action-message > button:hover {
  box-shadow: none;
  transition: 0.5s;
}

.footer-container {
  background-color: #fbfbfd;
  border-bottom: 0.25px solid #e9ecf3;
  padding: 120px 0 70px;
  justify-content: center;
}

.footer-warp {
  width: 1200px;
  flex-direction: row;
}

.footer-warp > div:nth-child(1) {
  flex: 4;
  padding-left: 15px;
}

.footer-warp > div:nth-child(1) > div {
  padding-right: 20px;
  height: 100%;
}

.footer-warp > div:nth-child(1) > div > p {
  color: #677294;
  font: 400 15px "Poppins", sans-serif;
  line-height: 28px;
  margin: 30px 0px 40px;
}

.footer-warp > div:nth-child(2) {
  flex: 2;
}

.link-container > div > h3 {
  color: #3f4451;
  font: 600 18px "Poppins", sans-serif;
  margin-bottom: 40px;
}

.link-container > div > ul > li {
  font: 300 16px/20px "Poppins", sans-serif;
  color: #677294;
  margin-bottom: 15px;
  padding: 4px 0px;
  position: relative;
}

.link-container > div > ul > li > a {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.link-container > div > ul > li > a:hover {
  color: #00aff0;
  transition: 0.3s ease;
}

.link-container > div > ul > li > a::before {
  content: "";
  background-color: #00aff0;
  position: absolute;
  width: 0%;
  height: 1%;
  bottom: -2px;
  transition: 0.3s ease;
}

.link-container > div > ul > li > a:hover:before {
  width: 100%;
  transition: 0.3s ease;
}

.link-container > div > ul > li:last-child {
  margin-bottom: 0px;
}

.link-container-2 {
  flex: 3;
}

.follow-us-container {
  flex: 3;
}

.follow-us-warp > h3 {
  color: #3f4451;
  font: 600 18px "Poppins", sans-serif;
  margin-bottom: 40px;
}

.follow-us-icon-container {
  display: flex;
  flex-direction: row;
}

.follow-us-icon-container > li {
  background-color: #ebeef5;
  color: #677294;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.follow-us-icon-container > li:hover {
  background-color: #00aff0;
  color: white;
  transition: 0.3s ease;
}

.follow-us-contact-container {
  margin-top: 35px;
}

.follow-us-contact-container > li {
  color: #677294;
  font: 400 15px "Poppins", sans-serif;
  line-height: 34px;
  display: flex;
  align-items: center;
}

.follow-us-contact-container > li > span {
  color: #051441;
  padding: 3px 8px;
  box-sizing: border-box;
  font: 400 15px "Poppins", sans-serif;
  line-height: 34px;
}

.follow-us-contact-container > li > p {
  cursor: pointer;
  transition: 0.3s ease;
}

.follow-us-contact-container > li > p:hover {
  color: #00aff0;
  transition: 0.3s ease;
}

.copyRight-container {
  background-color: #fbfbfd;
  justify-content: center;
}

.copyRight-warp {
  width: 1200px;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px 0px;
}

.copyRight-warp > p {
  color: #677294;
  font: 400 16px "Poppins", sans-serif;
  padding-left: 15px;
}

.copyRight-warp > div {
  color: #677294;
  font: 300 14px "Poppins", sans-serif;
  line-height: 20px;
  padding-left: 15px;
}

.copyRight-warp > div > a {
  padding-right: 15px;
}

.copyRight-warp > div > span {
  padding-right: 10px;
}

.copyRight-warp > p > a {
  color: #00aff0;
  cursor: pointer;
}

.copyRight-warp > div > a {
  cursor: pointer;
  transition: 0.2s ease;
}

.copyRight-warp > div > a:hover {
  color: #00aff0;
  transition: 0.2s ease;
}

.copyRight-br {
  display: none;
}

/* rwd */

@media (max-width: 1250px) {
  .navBar-wrap {
    width: 1140px;
  }

  .introduction-warp {
    width: 1140px;
  }

  .feature-warp {
    width: 1140px;
  }

  .feature-warp-2 {
    width: 1140px;
  }

  .footer-warp {
    width: 1140px;
  }

  .feature-imgs-2 > img:nth-child(2) {
    top: 36.5px;
    left: 135px;
  }

  .feature-imgs-2 > img:nth-child(3) {
    top: 270px;
    left: 325px;
  }

  .feature-imgs-2 > img:nth-child(4) {
    top: 75px;
    left: 85px;
  }
}

@media (max-width: 1200px) {
  .navBar-wrap {
    width: 960px;
  }

  .navigator-warp > li {
    margin-left: 20px;
  }

  .introduction-warp {
    width: 960px;
  }

  .introduction-img-warp {
    transform: translate(-180px);
  }

  .introduction-img-women {
    transform: translate(80px);
  }

  .introduction-txt-warp {
    width: 95%;
  }

  .feature-warp {
    width: 960px;
  }

  .feature-txt-container > h2 {
    padding-right: 0px;
  }

  .feature-imgs {
    position: relative;
  }

  .feature-imgs > img:nth-child(1) {
    position: absolute;
    left: 85px;
    top: 155px;
  }

  .feature-imgs > img:nth-child(2) {
    left: 0px;
    top: 0px;
    transform-origin: 0 0 0;
    transform: scale(0.86);
  }

  .feature-imgs > img:nth-child(3) {
    left: 35px;
    top: 150px;
  }

  .feature-warp-2 {
    width: 960px;
  }

  .feature-img-container-2 {
    margin-left: 160px;
  }

  .feature-imgs-2 > img:nth-child(1) {
    top: -5px;
  }

  .feature-imgs-2 > img:nth-child(2) {
    top: 20px;
    left: 140px;
  }

  .feature-imgs-2 > img:nth-child(3) {
    top: 250px;
    /* left: 450px; */
  }

  .feature-imgs-2 > img:nth-child(4) {
    top: 75px;
    left: 5px;
  }

  .service-warp {
    width: 990px;
  }

  .service-cards {
    overflow: hidden;
    position: relative;
    height: 390px;
  }

  .service-cards-1 > img {
    position: absolute;
    left: -40px;
  }

  .service-cards-2 > img {
    position: absolute;
    left: -40px;
  }

  .service-cards-3 > img {
    position: absolute;
    left: -40px;
  }

  .service-cards-4 > img {
    position: absolute;
    left: -40px;
  }

  .service-cards > div {
    right: -10px;
  }

  .service-container {
    padding-bottom: 140px;
  }

  .price-warp {
    width: 960px;
  }

  .footer-warp {
    width: 960px;
  }

  .footer-warp > div > div > img:nth-child(3) {
    width: 90%;
  }

  .copyRight-warp {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .navigator-container {
    display: none;
  }

  .register-container {
    display: none;
  }

  .hamburger-container {
    display: block;
  }

  .hamburger-container > i {
    transform-origin: 100% 100% 100%;
    transform: scale(1.5);
  }

  .navBar-wrap {
    display: flex;
    align-items: center;
    width: 720px;
    padding: 15px 20px;
  }

  .introduction-warp {
    flex-direction: column;
    width: 720px;
  }

  .introduction-img-warp {
    transform: translate(0px);
  }

  .introduction-img-phone {
    position: static;
  }

  .introduction-txt-warp {
    width: 100%;
    padding-top: 200px;
  }

  .introduction-img-warp {
    margin-top: -150px;
  }

  .introduction-img-shape-1{
    top: auto;
    bottom: -80%;
  }

  .introduction-container {
    padding-bottom: 70px;
  }

  .introduction-br {
    display: none;
  }

  .feature-warp {
    flex-direction: column;
    width: 720px;
  }

  .feature-img-warp {
    position: static;
  }

  .feature-img-container-2 {
    margin-right: 140px;
    margin-left: 0px;
  }

  .feature-imgs > img:nth-child(1) {
    top: 100px;
    left: 40px;
  }

  .feature-imgs > img:nth-child(2) {
    position: static;
    transform: scale(1);
    width: 100%;
  }

  .feature-txt-container {
    margin-top: 30px;
  }

  .feature-container {
    padding-bottom: 30px;
  }

  .feature-container-2 {
    padding-bottom: 50px;
  }

  .feature-warp-2 {
    flex-direction: column;
    width: 720px;
  }

  .feature-txt-container-2 {
    padding-top: 30px;
    order: 1;
  }

  .feature-imgs-2 > img:nth-child(1) {
    /* transform: translate(-150px); */
    position: static;
  }

  .service-container {
    height: 100%;
  }

  .service-cards-area {
    flex-wrap: wrap;
  }

  .service-cards {
    height: 87%;
  }

  .service-cards > div {
    right: 0px;
  }

  .service-cards-1 > img,
  .service-cards-2 > img,
  .service-cards-3 > img,
  .service-cards-4 > img {
    position: static;
    float: right;
  }

  .service-cards-1 > img {
    transform: translate(30px);
  }

  .service-cards-2 > img,
  .service-cards-3 > img,
  .service-cards-4 > img {
    transform: translate(12.5px);
  }

  .service-cards-3 > img {
    transform: translate(12.5px);
  }

  .service-cards-4 > img {
    transform: translate(12.5px);
  }

  .service-cards-container {
    max-width: 50%;
    box-sizing: border-box;
  }

  .service-br {
    display: none;
  }

  .price-cards {
    padding-left: 25px;
    padding-right: 25px;
  }

  .price-cards-area {
    flex-wrap: wrap;
  }

  .price-cards-container {
    max-width: 50%;
    box-sizing: border-box;
  }

  .action-message {
    margin-left: 200px;
    margin-right: 200px;
  }

  .footer-warp {
    width: 720px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .footer-warp > div:nth-child(1) {
    padding-left: 0px;
    flex: 50%;
    margin-bottom: 40px;
  }

  .footer-warp > div:nth-child(1) > div {
    padding: 0px 15px;
  }

  .footer-warp > div:nth-child(2) {
    flex: 50%;
    margin-bottom: 40px;
  }

  .footer-warp > div:nth-child(3) {
    flex: 50%;
  }

  .footer-warp > div:nth-child(4) {
    flex: 50%;
  }

  .link-container {
    padding-left: 15px;
    box-sizing: border-box;
  }

  .follow-us-warp {
    padding-left: 15px;
    box-sizing: border-box;
  }

  .copyRight-warp {
    width: 720px;
  }

  .copyRight-warp > div {
    font-size: 13px;
  }

  .copyRight-warp > div > a:nth-child(1) {
    padding-right: 5px;
  }

  .copyRight-warp > div > a:nth-child(3) {
    padding-left: 5px;
  }
}

@media (max-width: 768px) {
  .navBar-wrap {
    width: 100%;
  }

  .introduction-warp {
    width: 100%;
  }

  .feature-warp {
    width: 100%;
  }

  .feature-imgs > img:nth-child(1) {
    top: auto;
    bottom: -5%;
    left: 5%;
  }

  .feature-imgs > img:nth-child(2) {
    max-width: 100%;
  }

  .feature-imgs > img:nth-child(3) {
    top: auto;
    bottom: 10%;
    left: 5%;
  }

  .feature-warp-2 {
    width: 100%;
  }

  .action-message {
    margin: 0px 103px;
  }

  .footer-warp {
    width: 100%;
  }

  .feature-txt-container {
    transform: translate(0px, -15px);
  }

  .feature-txt-container-2 {
    transform: translate(0px, -15px);
  }

  .introduction-img-warp {
    transform: translate(50px);
  }

  .introduction-img-women {
    transform: translate(150px);
  }

  .introduction-txt-warp {
    padding-top: 150px;
  }

  .action-message {
    margin: 0px;
    max-width: 570px;
  }

  .footer-warp > div:nth-child(1),
  .footer-warp > div:nth-child(2),
  .footer-warp > div:nth-child(3),
  .footer-warp > div:nth-child(4) {
    flex: 100%;
  }

  .footer-warp > div > div > img:nth-child(3) {
    width: auto;
  }

  .copyRight-br {
    display: block;
  }

  .copyRight-warp > div {
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  .introduction-img-warp {
    transform: translate(0px);
  }

  .introduction-img-phone {
    width: 100%;
  }
  .introduction-img-women {
    transform: translate(0px, -75px);
  }

  .feature-imgs > img:nth-child(1) {
    left: -3%;
    max-width: 80%;
  }

  .feature-imgs > img:nth-child(3) {
    max-width: 69%;
  }

  .feature-img-container-2 {
    margin-right: 0px;
  }

  .feature-imgs-2 > img:nth-child(2) {
    max-width: 43%;
    top: auto;
    bottom: 0%;
    left: 35%;
  }

  .feature-imgs-2 > img:nth-child(3) {
    top: auto;
    left: 74%;
    bottom: 5%;
  }

  .feature-imgs-2 > img:nth-child(4) {
    top: auto;
    bottom: 65%;
    left: 0%;
  }

  .feature-txt-container > h2 {
    line-height: 33px;
  }

  .feature-txt-container-2 > h2 {
    line-height: 33px;
  }

  .service-cards-container {
    max-width: 100%;
  }

  .service-warp > h2 {
    font-size: 24px;
    line-height: 35px;
  }

  .service-container {
    padding: 70px 0px;
  }

  .price-cards-container {
    max-width: 100%;
  }

  .price-warp > h2 {
    font-size: 24px;
    line-height: 35px;
  }

  .price-warp-br{
    display: none;
  }

  .action-message > h2{
    font-size: 30px;
  }

  .action-container > img:nth-child(2){
    left: -890px;
  }

  .copyRight-warp{
    flex-direction: column;
  }

  .copyRight-br{
    display: none;
  }

  .copyRight-warp > p{
    text-align: center;
  }

  .copyRight-warp > div{
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .copyRight-warp > p{
    margin-bottom: 8px;
  }

  .copyRight-warp > div > span{
    padding-right: 10px;
  }

  .copyRight-warp > div > a:nth-child(3){
    padding-right: 0px;
  }
}
